.school-grid {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.home {
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.hudl.com%2Fusers%2Ftemp%2F728368_eef4b2aa343e4f19a8193e4ba5669b25.jpg&f=1&nofb=1&ipt=c58065eebdf6e74756e3389e44a6748a137fc5f32ce03ea85fe393704950eb69&ipo=images) no-repeat center center fixed;
    background-size: cover;
}

.cell1 {
    display: flex;
    justify-content: space-around;
    margin: 0 18em 0 18em;
    text-align: center;
}

/* header {
    background-color: royalblue;
} */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5vh;
    width: 100%;
    margin: 20px;

}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-decoration: none;
    color: black;
    background-color: darkgray;
    width: 150px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.welcome {
    text-align: center;
}
