/* .school-grid {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} */

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.home-header {
    font-size: 2.5vh;
    margin: 10px;
}

.home-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.home-items a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5vh;
    width: 100%;
    margin: 20px;

}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-decoration: none;
    color: black;
    background-color: darkgray;
    width: 150px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}
