.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.home-header {
    font-size: 3vh;
    margin: 20px 0 0 0;
}

.home-items {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin: 100px 0 20px 0;
}

.home-items a {
    text-decoration: none;
    color: black;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px 10px;
}

.cell1 {
    display: flex;
    justify-content: space-around;
    margin: 0 18em 0 18em;
    text-align: center;
}

/* header {
    background-color: royalblue;
} */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    margin: auto;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5vh;
    width: 100%;
    margin: 20px;

}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-decoration: none;
    color: black;
    background-color: darkgray;
    width: 150px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.welcome {
    text-align: center;
}
