form {
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.input {
    height: 3vh;
    /* width: 10vw; */
    text-align: center;
    width: 100%;
    font-size: 16px;
  }

